# Add files here to avoid adding them to images when using ADD or COPY
# See https://docs.docker.com/engine/reference/builder/#dockerignore-file

# For example:
# # comment
# */temp*
# */*/temp*
# temp?

.dockerignore
docker-compose.yaml
Dockerfile
